<?xml version="1.0"?>
<launch>
  <!-- ↓ これで $ roslaunch crane_x7_bringup demo.launch fake_execution:=false を自動で立ち上げる（たぶん） -->
  <include file="$(find crane_x7_bringup)/launch/demo.launch">
      <arg name="fake_execution" value="false" />
      <arg name="port" value="/dev/ttyUSB3" />
  </include>
</launch>

